<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>音乐学院学习交流平台登录窗口</title>
<link href="/static/login/css/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/static/login/js/jQuery1.7.js"></script>
<script type="text/javascript" src="/static/login/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/login/js/jquery1.42.min.js"></script>
<script type="text/javascript" src="/static/login/js/jquery.SuperSlide.js"></script>
{#<script type="text/javascript" src="/static/login/js/Validform_v5.3.2_min.js"></script>#}
<script type="text/javascript">
$(document).ready(function(){
	var $tab_li = $('#tab ul li');
	$tab_li.hover(function(){
		$(this).addClass('selected').siblings().removeClass('selected');
		var index = $tab_li.index(this);
		$('div.tab_box > div').eq(index).show().siblings().hide();
	});
});
</script>
</head>
<body>
<div id="tab">
  <ul class="tab_menu">
    <li class="selected">学生登录</li>
    <li>教师登录</li>
    <li>教务登录</li>
  </ul>
  <div class="tab_box">
    <!-- 学生登录开始 -->
    <div>
      <div class="stu_error_box"></div>
      <form action="" method="post" class="stu_login_error">
          {% csrf_token %}
        <div id="username">
          <label>学&nbsp;&nbsp;&nbsp;号：</label>
          <input type="text" id="stu_username_hide" name="username1" placeholder="输入学号" required="required"/>
          <!--ajaxurl="demo/valid.jsp"-->
        </div>
        <div id="password">
          <label>密&nbsp;&nbsp;&nbsp;码：</label>
          <input type="password" id="stu_password_hide" name="password1" placeholder="输入密码" required="required"/>
        </div>
        <div id="login">
          <button type="submit">登录</button>
        </div>
      </form>
    </div>
   <!-- 学生登录结束-->
   <!-- 导师登录开始-->
    <div class="hide">
     <div class="tea_error_box"></div>
      <form action="" method="post" class="tea_login_error">
          {% csrf_token %}
        <div id="username">
          <label>教工号：</label>
          <input type="text" id="tea_username_hide" name="username2" placeholder="输入教工号" />
          <!--ajaxurl="demo/valid.jsp"-->
        </div>
        <div id="password">
          <label>密&nbsp;&nbsp;&nbsp;码：</label>
          <input type="password" id="tea_password_hide" name="password2" placeholder="输入密码" />
        </div>
        <div id="login">
          <button type="submit">登录</button>
        </div>
      </form>
    </div>
     <!-- 导师登录结束-->
     <!-- 教务登录开始-->
    <div class="hide">
    <div class="sec_error_box"></div>
      <form action="" method="post" class="sec_login_error">
          {% csrf_token %}
        <div id="username">
          <label>教务号：</label>
          <input type="text" id="sec_username_hide" name="username3" placeholder="输入教务号" />
          <!--ajaxurl="demo/valid.jsp"-->
        </div>
        <div id="password">
          <label>密&nbsp;&nbsp;&nbsp;码：</label>
          <input type="password" id="sec_password_hide" name="password3" placeholder="输入密码"/>
        </div>

        <div id="login">
          <button type="submit">登录</button>
        </div>
      </form>
    </div>
     <!-- 教务登录结束-->
  </div>
</div>
<div class="bottom">©2020 音乐学院 <a href="javascript:;" target="_blank">关于</a> <span>京ICP证030173号</span>  <a href="http://www.mycodes.net/" target="_blank">源码之家</a><img width="13" height="16" src="/static/login/images/copy_rignt_24.png" /></div>
<div class="screenbg">
  <ul>
    <li><a href="javascript:;"><img src="/static/login/images/0.jpg"></a></li>
    <li><a href="javascript:;"><img src="/static/login/images/1.jpg"></a></li>
    <li><a href="javascript:;"><img src="/static/login/images/2.jpg"></a></li>
  </ul>
</div>
</body>
</html>
