{% extends 'admin_index.html' %}
{% block content %}
    <div class="content">
        <div class="header">

            <h1 class="page-title">添加学生信息</h1>
                    <ul class="breadcrumb">
            <li><a href="/admin_index/">首页</a> </li>
            <li class="active">{{ admin_obj.admin_name }}</li>
        </ul>

        </div>
        <div class="main-content">
<div class="row">
  <div class="col-md-4">
    <br>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
      <form id="tab" action="" method="post">
          {% csrf_token %}
        <div class="form-group">
        <label>学号：</label>
        <input type="text" id="num" name="number" class="form-control">
        </div>
        <div class="form-group">
        <label>姓名：</label>
        <input type="text" id="name" name="name" class="form-control">
        </div>
          <div class="form-group">
        <label>性别：</label>
{#        <input type="text" id="video_type" class="form-control">#}
            <select name="sex" id="sex" style="width:335px">
            <option value="男" selected="selected">男</option>
            <option value="女">女</option>
            </select>
        </div>
        <div class="form-group">
        <label>年龄：</label>
        <input type="text" id="age" name="age" class="form-control">
        </div>
        <div class="form-group">
        <label>密码：</label>
        <input type="text" id="password" name="password" value="000000" class="form-control">
        </div>
        <div class="btn-toolbar list-toolbar">
        <button id="check_value" class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 确认添加</button>

        </div>

        </form>
      </div>

      <div class="tab-pane fade" id="profile">

{#        <form id="tab2">#}
{#          <div class="form-group">#}
{#            <label>New Password</label>#}
{#            <input type="password" class="form-control">#}
{#          </div>#}
{#          <div>#}
{#              <button class="btn btn-primary">Update</button>#}
{#          </div>#}
{#        </form>#}
      </div>
    </div>

{#    <div class="btn-toolbar list-toolbar">#}
{#      <button class="btn btn-primary"><i class="fa fa-save"></i> Save</button>#}
{#      <a href="#myModal" data-toggle="modal" class="btn btn-danger">Delete</a>#}
{#    </div>#}
  </div>
</div>

<div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Confirmation</h3>
      </div>
      <div class="modal-body">

        <p class="error-text"><i class="fa fa-warning modal-icon"></i>Are you sure you want to delete the user?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>


{#            <footer>#}
{#                <hr>#}
{##}
{#                <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->#}
{#                <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>#}
{#                <p>© 2014 <a href="http://www.portnine.com" target="_blank">Portnine</a></p>#}
{#            </footer>#}
        </div>
    </div>
           <script>
    $("#check_value").click(
        function () {
            stu_num= $("#num").val();
            stu_name= $("#name").val();
            stu_sex= $("#sex").val();
            stu_age= $("#age").val();
            stu_password= $("#password").val();
            {#url='/ajax_get_data/?tea_name'+tea_name;#}
            send_data={
                'stu_num':stu_num,
                'stu_name':stu_name,
                'stu_sex':stu_sex,
                'stu_age':stu_age,
                'stu_password':stu_password,
                'csrfmiddlewaretoken':'{{ csrf_token }}',

            };
            url='/ajax_post_stu/';
                $.ajax(
                    {          //  ajax 发起一个ajax请求
                         url:url,         // ajax 请求的路径                    
                          type:'post',       //  ajax 请求的类型                    
                          data:send_data,         //  ajax 请求的数据  在post请求中 去填写
                        success:function (data) {

                        },
                        error:function (data) {

                        }
                    }
                )

        }
    )
</script>
{% endblock %}