{% extends 'admin_index.html' %}
{% block content %}

    <div class="content">
        <div class="header">

            <h1 class="page-title">老师信息</h1>
                    <ul class="breadcrumb">
            <li><a href="/admin_index/">首页</a> </li>
            <li class="active">{{ obj.admin_name }}</li>
        </ul>

        </div>
        <div class="main-content">

<div class="btn-toolbar list-toolbar">
    <a href="{% url 'teas_add' %}"><button class="btn btn-primary"><i class="fa fa-plus"></i> 新建用户</button></a></div>
  <div class="btn-group">
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>教工号</th>
      <th>姓名</th>
      <th>性别</th>
      <th>年龄</th>
      <th>密码</th>
      <th style="width: 20em;"></th>
    </tr>
  </thead>
  <tbody>
  {% for obj in tea_obj %}
    <tr>
      <td>{{ obj.tea_id }}</td>
      <td>{{ obj.tea_num }}</td>
      <td id="username">{{ obj.tea_name }}</td>
      <td>{{ obj.tea_sex }}</td>
      <td>{{ obj.tea_age }}</td>
      <td>{{ obj.tea_pwd }}</td>
      <td>
{#          <a href="user.html"><i class="fa fa-pencil"></i></a>#}
          <a href="/tea_delete/{{ obj.tea_num }}" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{#<div class="pagination">#}
{#  <a href="#">首页</a>#}
{#  <a href="#">上一页</a>#}
{#  <a href="#">下一页</a>#}
{#  <a href="#">尾页</a>#}
{#</div>#}
<div class="pagination">
     <a href="/teas_info/1">首页</a>
    {% if page_obj.has_previous %}
        <a href="/teas_info/{{ page_obj.previous_page_number }}">上一页</a>
    {% endif %}
        {% for page in page_range %}
               <a href="/teas_info/{{ page }}">{{ page }}</a>
        {% endfor %}
     {% if page_obj.has_next %}
         <a href="/teas_info/{{ page_obj.next_page_number }}">下一页</a>
     {% endif %}
     <a href="/teas_info/{{ paginator.num_pages }}">尾页</a>
</div>

<div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">确认删除</h3>
        </div>
        <div class="modal-body">
            <p class="error-text"><i class="fa fa-warning modal-icon"></i>你确定要删除这个老师吗？</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
            <a href="/tea_delete/{{ obj.tea_num }}" ><button class="btn btn-danger"  data-dismiss="modal" id="check_value">删除</button></a>
        </div>
      </div>
    </div>
</div>
        </div>
    </div>
{#       <script>#}
{#    $("#check_value").click(#}
{#        function () {#}
{#            tea_name= $("[id='username']").val();#}
{#            url='/ajax_get_data/?tea_name'+tea_name;#}
{#                $.ajax(#}
{#                    {          //  ajax 发起一个ajax请求#}
{#                         url:url,         // ajax 请求的路径                    #}
{#                          type:'get',       //  ajax 请求的类型                    #}
{#                          data:{'tea_name':tea_name},         //  ajax 请求的数据  在post请求中 去填写#}
{#                        success:function (data) {#}
{##}
{#                        },#}
{#                        error:function (data) {#}
{##}
{#                        }#}
{#                    }#}
{#                )#}
{##}
{#        }#}
{#    )#}
{#</script>#}

{% endblock %}